<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635677029777-igr1blgn9japaau57gfr9b654f0iq89l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635677029777-igr1blgn9japaau57gfr9b654f0iq89l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>635677029777-l9aa9klhth03bnpqsj2ajat13vqe1b32.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAgG1rWgzpUmfX8aw382m39CFbsw3Y6wgg</string>
	<key>GCM_SENDER_ID</key>
	<string>635677029777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectApp</string>
	<key>PROJECT_ID</key>
	<string>connect-app-907bd</string>
	<key>STORAGE_BUCKET</key>
	<string>connect-app-907bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635677029777:ios:cf9e5f0cdd732481631630</string>
</dict>
</plist>